:root {
  --link-color: #000000;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
  --body-text-color: #434455;
  --heading-text-color: #2e2f42;
  --main-background-color: #ffffff;
  --brand-color: #4d5ae5;
  --secondary-bkg-color: #f4f4fd;
  --hover-color: #404bbf;
  --hero-heading-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-page {
  font-family: var(--text-font-family);
  color: var(--body-text-color);
  font-size: 16px;
}

.global-header .logo,
.footer-section .logo {
  text-decoration: none;
  font-size: 18px;
  font-family: var(--logo-font-family);
  font-weight: 800;
}

.global-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-bkg-color);
  width: 1440px;
  height: 72px;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}
.menu-items > li > a {
  text-decoration: none;
}
.menu-items > li {
  list-style-type: none;
  padding-left: 40px;
}
.menu-items > li:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

.menu-items > li > a:visited {
  color: inherit;
}

.menu-items {
  display: flex;
  flex-direction: row;
}
.order-button {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 16px, 32px, 16px, 32px;
  border-color: #4d5ae5;
  color: #fff;
  font-weight: 500;
  width: 169px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-button:hover {
  background-color: var(--hover-color);
}

.logo {
  font-weight: 800;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo .iris-blue {
  color: #4d5ae5;
}

.logo .navy-blue {
  color: var(--body-text-color);
}

.logo .cloud {
  color: var(--secondary-bkg-color);
}
.contact-info > a {
  text-decoration: none;
  color: var(--body-text-color);
  padding-left: 40px;
}

.contact-info > a:hover,
.contact-info > a:focus {
  color: #404bbf;
}

.team-members > li {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2 {
  font-weight: 700;
  color: var(--body-text-color);
  display: flex;
}

h3 {
  font-weight: 500;
  color: var(--body-text-color);
}

.hero-section {
  background-color: #2e2f42;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: 1200px;
}

.hero-section > h1 {
  color: #ffffff;
  width: 204px;
}

.team-section {
  background-color: var(--secondary-bkg-color);
}

.footer-section {
  background-color: #2e2f42;
  color: var(--secondary-bkg-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  min-width: 1200px;
  height: 312px;
  flex-wrap: wrap;
}

.features > li {
  list-style-type: none;
  display: block;
  width: 264px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-left: -24px;
}

.filter-buttons > li > button {
  background-color: var(--secondary-bkg-color);
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  padding: 12px, 24px, 12px, 24px;
  border-color: #e7e9fc;
  color: var(--brand-color);
  font-weight: 500;
  border: 1px;
  cursor: pointer;
  width: 116px;
  height: 48px;
}

.filter-buttons > li > button:hover,
.filter-buttons > li > button :focus {
  background-color: var(--hover-color);
  color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

.filter-buttons > li {
  list-style-type: none;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -24px;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 16px;
  margin-top: -48px;
  margin-left: -24px;
}

.card-item {
  margin-top: 48px;
  margin-left: 24px;
}

.project-cards > li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--secondary-bkg-color);
  width: 360px;
  height: 420px;
}

section {
  padding: 94px 0;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  flex-wrap: wrap;
}

.title {
  display: flex;
  justify-content: center;
  padding-bottom: 72px;
}

.offer-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.offer-images > img {
  padding-left: 24px;
  padding-top: 72px;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -24px;
}

.team-card-item {
  margin-left: 24px;
  flex-basis: calc((100%-96px) / 4);
}

.team-members > li {
  width: 264px;
  height: 260px;
  border: 1px solid;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;
  border: 1px solid var(--secondary-bkg-color);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.team-card-item > h3 {
  padding-top: 32px;
}

.card-item > h3 {
  padding-top: 32px;
  padding-left: 16px;
}

.card-item > p {
  padding-top: 8px;
  padding-left: 16px;
}

.card-item:hover {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.features-card-item {
  margin-top: 48px;
  margin-left: 24px;
}

offer-card-item {
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container > h1 {
  color: var(--hero-heading-color);
  width: 205px;
  text-align: center;
}

.footer-card {
  display: flex;
  flex-direction: column;
}

/* background: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("./images/slider.jpg"); */
